.pdp{
    text-align: center;
}
.h-pdp{
    color: #ef3340;
    font-weight: 200;
}
.h3-cobert{
    padding: 50px 0 2px;
    font-weight: 200;
}
.p-pdp{
    color: #494f66;
    font-size: 16px;
}
.p-cobert{
    color: #494f66;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
}
.btn-ro{
    padding: 18px 32px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 0;
    transition: transform 0.3s;
    margin: 15px;
    display: inline;
    box-sizing: unset;
    color: white;
    border: none;
}
.princip-cobert{
    background-color: #f7f7fa;
}
.span-cobert{
    font-size: 30px;
    font-weight: 100;
}
.btn-princ{
    background-color: #ef3340;
}
.btn-como{
    background-color: #31ca71 ;
}
.div-quieres{
    background-color: #f7f7fa;
    padding: 30px;
}
.p-quieres{
    color: #494f66;
    padding: 40px;
}
.img-quiere{
    height: 300px;
    margin-left: 50px;
}
.comolo-compro{
    margin-bottom: 40px;
}

.background-white{
    background-color: white
}

.background-yellow{
    background-color: #ef3340;
    color: white
}

.marginleft{
    padding-left: 15%
}

.padding-top{
    padding-top: 5%;
    padding-bottom: 5%
}

.center-p{
    margin-left: 25%
}

.center-p-second{
    margin-left: 40%
}

.center-p-third{
    margin-left: 25%
}

.size-second{
    font-size: 15px
}

.bolder{
    font-weight: bolder
}

.border{
    border-radius: 20px 0px 0px 20px
}

.border-rigth{
    border-radius: 0px 20px 20px 0px
}

.icon-asistencia{
 
    width:22%
}
