h1{
  margin-top: 70px;
  color:#ffffff;
  font-size: 56px;
}
p{
  color:#ffffff;
  font-size: 22px;
}
.carousel-page-one{
  width:100%;
}
.carousel-item1{
  width:100%;
  background-image: url("https://user-images.githubusercontent.com/45071050/57511339-ae067900-72ce-11e9-96d2-9f91a5382e56.png");
  background-repeat: no-repeat;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 
.carousel-item2{
  width:100%;
  background-image: url("https://user-images.githubusercontent.com/45071050/57513277-7b12b400-72d3-11e9-820a-52e2d8a10d92.png");
  background-repeat: no-repeat;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.carousel-img{
  margin-top: 70px;
}
.carousel-btn{
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #ef3340;
  font-family: Lato, serif;
  font-weight: bold;
  border:0px;
}
.precio-text{
  color: #ffffff;
}