@import url('https://fonts.googleapis.com/css?family=Lato');
.width{
    width:100%
}
.seguros{
    width: 1000px;
    height: 150px;
}
.main-nav{
    font-family: 'Lato', sans-serif;;
    background-color: #ef3340;
    color:white;
}
.btn-nav{
    border: px;
    border-color: white;
    background-color: #ef3340;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px,
}
.img-busqueda{
    margin-right: 15px;
}
.img-seguros{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.row-seguros{
    text-align: center;
    background-color: #ffffff;

}
.description{
    height: 300px;
}

.types{
    text-align: center
}
.img-typeHogar{
    margin-top: 50px;
}
.img-seguro{
    height: 200px;
}
.text-seguro{
    padding: 20px;
}
.text-resaltado{
    font-size: 30px;
}
.p-nav-principal{
    color: #ef3340;
}