@import url('https://fonts.googleapis.com/css?family=Roboto');
.width{
    width:100%
}

.nav-color{
    background-color: #ef3340;
    font-family: "Montserrat", sans-serif;
}


.nav-color .navbar-toggler{
    color: white
}

*{
    text-decoration: none
}

a{
    text-decoration: none;
    color: white;
}

.a-nav{
    color:white
}

.margin{
    margin-left: 4%;
    margin-top: 1.5%
}

.button-nav{
    font-family: 'Roboto', sans-serif;
    background-color: #ef3340;
    color:white;
    border: none;
    padding-top: 5.7%

}