.otros-productos{
    background-color: #f7f7fa;
    justify-content: center;
    height: 500px;
    padding: 80px 50px;
}

.p-otros{
    color: #939dff;
    font-family: Lato;
    font-weight: normal;
    letter-spacing: 0.2px;
    font-size: 16px;
    padding: 0 10px;
}
.opciones-usar{
    border: 2px solid #f7f7fa;
    margin: 1%;
    width: 23%;
    border-radius: 15px;
}
.h1-prod{
    margin: 0;
}