
.usar-seguro{
    justify-content: center;
    margin: 60px;
}
.opciones-usar{
    border: 2px solid #f7f7fa;
    margin: 1%;
    width: 23%;
    border-radius: 15px;
}
.h1-usar{
    padding: 10px;
    color: #494f66;
}

.p-usar{
    margin: 0;
    padding: 0 10px;
    color: #494f66;
    font-size: 18px;
    font-weight: 100;
}
.p-link{
    text-decoration: underline;
}
.img-usar-seguro{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}